<div class="page-content-wrapper">
    <div class="container-lg">
        <h4>Manage Registered Students</h4>

        <div class="card shadow mt-3">
            <div class="card-body">
                <table class="w-100" id="dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Photo</th>
                            <th>Full Name</th>
                            <th>Mobile</th>
                            <th>Email</th>
                            <th>View</th>


                        </tr>
                    </thead>
                    <tbody>
                        {{#each users}}
                        <tr>
                            <td>{{incremented @index}}</td>
                            <td>
                                <a href="/images/user-profiles/{{this._id}}.png">
                                    <img src="/images/user-profiles/{{this._id}}.png" alt="" style="width: 100%">
                                </a>
                            </td>
                            <td>{{this.fname}} {{this.lname}}</td>
                            <td>{{this.mobile}}</td>
                            <td>{{this.email}}</td>
                            <td><a href="/admin/view-more/{{this._id}}" class="btn btn-dark btn-sm">View Full Details</a></td>

                        </tr>
                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>