<div class="container-lg">
    <div class="card p-4 shadow mt-4">
        <center>
            <h4 class="mb-4">Madrasathulfurqan international online Madrassa Admission form 2023-24</h4>
        </center>
        <table style="border-collapse: collapse; width: 100%;">
            <thead>
                <tr style="background-color: #000000;">
                    <th style="border: 1px solid #dddddd; text-align: left; padding: 15px; color:white;">Title</th>
                    <th style="border: 1px solid #dddddd; text-align: left; padding: 15px; color:white;">Data</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">Student Photo & Signature
                    </td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">
                        <a href="/images/user-profiles/{{user._id}}.png" target="_blank">
                            <img src="/images/user-profiles/{{user._id}}.png" width="100px">
                        </a>
                        <a href="{{user.signature}}" target="_blank">
                            <img src="{{user.signature}}" width="100px">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">Register Number</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">{{user.regid}}

                    </td>
                </tr>
                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">Full Name</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">{{user.fname}}
                        {{user.lname}}
                    </td>
                </tr>
                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">Date of birth</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">{{user.dob}}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">Age of the Student</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">{{user.age}}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">Gender</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">{{user.Gender}}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">Father's Name</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">{{user.father}}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">Mother's Name</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">{{user.mother}}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">Occupation</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">{{user.occ}}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">Name of the guardian and
                        address
                    </td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">{{user.gname}},
                        {{user.gaddress}}, {{user.gcity}}, {{user.gstate}}, {{user.gcountry}}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">Phone</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">{{user.mobile}}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">Whatsapp</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">{{user.whatsapp}}</td>
                </tr>
                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">Mother Tongue</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">{{user.tongue}}</td>
                </tr>

                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">Residential Address</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">{{user.address1}},
                        {{user.address2}}, {{user.city}}, {{user.state}}, {{user.zipcode}}</td>
                </tr>

                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">Student E-mail</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">{{user.email}}</td>
                </tr>

                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">Class in which admission
                        sought
                    </td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">{{user.admission}}</td>
                </tr>

                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">Type a question</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">{{user.qtype}}</td>
                </tr>

                <tr>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">Agreement</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 15px;">
                        Name : {{user.afname}} {{user.alname}}<br>
                        Date : {{user.adate}}<br>
                        Place : {{user.aplace}}
                    </td>
                </tr>









            </tbody>
        </table>
    </div>
</div>
<br><br>